$logo_bmps: 7 3,7 4,7 5,7 6,7 7,7 8,7 9,7 10,7 11,7 12,7 13,8 4,8 5,8 6,8 7,8 8,9 4,9 5,9 6,9 7,9 8,9 9,10 5,10 6,10 7,10 8,10 9,10 10,11 5,11 6,11 7,11 8,11 9,11 10,12 6,12 7,12 8,12 9,12 10,12 11,13 6,13 7,13 8,13 9,13 10,13 11,14 7,14 8,14 9,14 10,14 11,14 12,15 8,15 9,15 10,15 11,15 12,16 3,16 4,16 5,16 6,16 7,16 8,16 9,16 10,16 11,16 12,16 13,18 9,18 10,18 11,18 12,19 6,19 8,19 9,19 10,19 11,19 12,19 13,20 5,20 8,20 9,20 10,20 11,20 12,20 13,21 5,21 8,21 9,21 10,21 11,21 12,21 13,22 5,22 8,22 13,23 5,23 6,23 7,23 8,23 9,23 10,23 11,23 12,23 13,24 5,24 6,24 7,24 8,24 9,24 10,24 11,24 12,24 13,25 5,25 6,25 7,25 8,25 9,25 10,25 11,25 12,25 13,26 6,26 7,26 8,26 9,26 10,26 11,26 12,26 13,30 5,30 6,30 7,30 8,30 9,30 10,30 11,30 12,30 13,30 14,31 5,31 6,31 7,31 8,31 9,31 10,31 11,31 12,31 13,31 14,32 5,32 6,32 7,32 8,32 9,32 10,32 11,32 12,32 13,32 14,33 5,33 6,33 7,33 8,33 9,33 10,33 11,33 12,33 13,33 14,34 6,34 11,35 5,35 12,36 5,36 6,36 7,36 8,36 9,36 10,36 11,36 12,37 5,37 6,37 7,37 8,37 9,37 10,37 11,37 12,38 6,38 7,38 8,38 9,38 10,38 11,39 7,39 8,39 9,39 10,41 6,41 7,41 8,41 9,41 10,42 5,42 6,42 7,42 8,42 9,42 10,42 11,43 4,43 5,43 6,43 7,43 8,43 9,43 10,43 11,43 12,44 4,44 5,44 6,44 7,44 8,44 9,44 10,44 11,44 12,45 4,45 12,46 4,46 12,47 5,47 11,48 6,48 7,48 8,48 9,48 10,51 3,51 4,51 5,51 6,51 7,51 8,51 9,51 10,51 11,51 12,51 13,52 3,52 4,52 5,52 6,52 7,52 8,52 9,52 10,52 11,52 12,52 13,53 3,53 4,53 5,53 6,53 7,53 8,53 9,53 10,53 11,53 12,53 13,54 3,54 4,54 5,54 6,54 7,54 8,54 9,54 10,54 11,54 12,54 13,57 2,57 3,57 5,57 6,57 7,57 8,57 9,57 10,57 11,57 12,57 13,58 2,58 3,58 5,58 6,58 7,58 8,58 9,58 10,58 11,58 12,58 13,59 2,59 3,59 5,59 6,59 7,59 8,59 9,59 10,59 11,59 12,59 13,60 2,60 3,60 5,60 6,60 7,60 8,60 9,60 10,60 11,60 12,60 13,63 3,63 4,63 5,63 6,63 7,63 8,63 9,63 10,63 11,63 12,63 13,64 4,64 5,64 6,64 7,64 8,65 4,65 5,65 6,65 7,65 8,65 9,66 5,66 6,66 7,66 8,66 9,66 10,67 5,67 6,67 7,67 8,67 9,67 10,68 6,68 7,68 8,68 9,68 10,68 11,69 6,69 7,69 8,69 9,69 10,69 11,70 7,70 8,70 9,70 10,70 11,70 12,71 8,71 9,71 10,71 11,71 12,72 3,72 4,72 5,72 6,72 7,72 8,72 9,72 10,72 11,72 12,72 13,74 3,74 4,74 5,74 6,74 7,75 3,75 4,75 5,75 6,75 7,77 6,77 7,77 8,77 12,78 6,78 7,78 8,78 9,78 12,78 13,79 5,79 6,79 7,79 8,79 9,79 10,79 13,80 5,80 7,80 8,80 9,80 10,80 13,81 5,81 8,81 9,81 10,81 11,81 13,82 5,82 8,82 9,82 10,82 11,82 12,82 13,83 5,83 6,83 9,83 10,83 11,83 12,84 6,84 10,84 11,84 12,89 3,89 4,89 5,89 6,89 7,89 8,89 9,89 10,89 11,89 12,89 13,90 3,90 4,90 5,90 6,90 7,90 8,90 9,90 10,90 11,90 12,90 13,91 3,91 4,91 5,91 6,91 7,91 8,91 9,91 10,91 11,91 12,91 13,92 3,92 4,92 5,92 6,92 7,92 8,92 9,92 10,92 11,92 12,92 13,93 3,93 4,93 5,93 6,93 7,93 8,93 9,93 10,93 11,93 12,93 13,94 13,95 13,96 13,97 13,98 13,100 9,100 10,100 11,100 12,101 6,101 8,101 9,101 10,101 11,101 12,101 13,102 5,102 8,102 9,102 10,102 11,102 12,102 13,103 5,103 8,103 9,103 10,103 11,103 12,103 13,104 5,104 8,104 13,105 5,105 6,105 7,105 8,105 9,105 10,105 11,105 12,105 13,106 5,106 6,106 7,106 8,106 9,106 10,106 11,106 12,106 13,107 5,107 6,107 7,107 8,107 9,107 10,107 11,107 12,107 13,108 6,108 7,108 8,108 9,108 10,108 11,108 12,108 13,111 3,111 4,111 5,111 6,111 7,111 8,111 9,111 10,111 11,111 12,111 13,112 3,112 4,112 5,112 6,112 7,112 8,112 9,112 10,112 11,112 12,112 13,113 3,113 4,113 5,113 6,113 7,113 8,113 9,113 10,113 11,113 12,113 13,114 3,114 4,114 5,114 6,114 7,114 8,114 9,114 10,114 11,114 12,114 13,115 6,115 12,116 5,116 13,117 5,117 6,117 7,117 8,117 9,117 10,117 11,117 12,117 13,118 5,118 6,118 7,118 8,118 9,118 10,118 11,118 12,118 13,119 6,119 7,119 8,119 9,119 10,119 11,119 12,120 7,120 8,120 9,120 10,120 11;

.logo-position {
    position:absolute;
    top: calc(50vh - var(--scale) * 8);
    left: calc(50vw - var(--scale) * 64);
}

.logo {
    width: var(--scale);
    height: var(--scale);
    position: relative;
}

.logo > * {
    position: absolute;
    width: calc(var(--scale) - 2px);
    height: calc(var(--scale) - 2px);
    background-color: #ffffff;
    opacity: 0.6;
}

@keyframes delay-visible {
    0% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

@keyframes rotate-one {
    0% {
        transform: rotateY(270deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

$i: 0;
@each $xi, $yi in $logo_bmps {
    $itvl : calc(var(--logo-gen-length) / 120);
    .logo-#{$i} {
        top: calc($yi * var(--scale));
        left: calc($xi * var(--scale));
        animation: 
        delay-visible calc($xi * $itvl + var(--logo-gen-start) + 0.5s) step-end 0s 1,
        rotate-one 1.5s linear calc($xi * $itvl + var(--logo-gen-start) + 0.5s) 1;
    }
    $i : $i + 1
}