#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  z-index: 10;
}

.content {
  min-height: 100vh;
}

.app {
  max-width: 100%;
}

@media screen and (min-width: 576px) {
  .app {
    max-width: 80%;
  }
}

.btn-to-about {
  position: fixed;
  bottom: 0;
  right: 10%;
}

.discolor-href {
  color:black
}

.discolor-href:hover {
  color:black
}